/* global rules */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}

header .logo {
  position: relative;
  max-width: 140px;
}

header .navigation {
  position: relative;
  display: flex;
}

.navigation li {
  list-style-type: none;
}

header .navigation a {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  margin-left: 40px;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5 ease-in-out;
  opacity: 1;
}

header .navigation a:hover {
  opacity: 0.8;
}

/*.menu-toggle {
  position: relative;
  width: 40px;
  height: 40px;
  background: url(menu.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 1000;
}

/*.menu-toggle .ACTIVE{
  background: url(close.png);
  background-size: 30px;  
} */
header .menu-toggle {
  color: #161616;
}
/* start responsive */
@media (max-width: 991px) {
  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: #e51e2a;
  }

  header .menu-toggle {
    position: absolute;
    top: 40px;
    right: 45px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    z-index: 1000;
  }

  header .menu-toggle .closeBtn {
    display: none;
  }
  header .active.menu-toggle .closeBtn {
    display: inline;
  }

  header .active.menu-toggle .openBtn {
    display: none;
  }

  header .navigation a {
    padding: 10px;
    font-size: 25px;
    margin: 10px;
  }
}

/* end responsive */

section {
  position: relative;
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: #161616;
}
@media (max-width: 575px) {
  section {
    padding: 15px;
  }
}

section .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e51e2a;
  clip-path: circle(70% at right -20%);
}

.info-text {
  color: #fff;
  width: 50%;
}

.info-text h1 {
  text-transform: capitalize;
  font-size: 40px;
  text-align: left;
}

.info-text p {
  line-height: 1.6;
  margin: 20px 0;
}

.info-text button {
  padding: 8px 15px;
  border-radius: 40px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #e51e2a;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  border: transparent;
}

.info-text button:hover {
  color: #e51e2a;
  background-color: #fff;
}

@media (max-width: 575px) {
  .info-text {
    margin-top: 100px;
  }

  .info-text h1 {
    font-size: 20px;
  }

  .info-text p {
    font-size: 14px;
    margin-top: 10px;
  }
}

/* social icons bar */

.social-icons {
  position: absolute;
  bottom: 40px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons li {
  list-style-type: none;
}

.social-icons li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 25px;
  border-radius: 50%;
  display: flex;
  background: #222;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.social-icons li a:hover {
  background: #e51e2a;
  transform: translatey(-10px);
}

.social-icons img {
  filter: invert(1);
  transform: scale(0.5);
}

@media (max-width: 575px) {
  .social-icons {
    bottom: 10px;
  }

  .social-icons li a {
    width: 30px;
    height: 30px;
  }
}

/* swiper */

.swiper-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  position: absolute;
  max-height: 100%;
  bottom: 0;
}
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left {
  background-image: none;
}
.img-box {
  display: flex;
  width: 500px;
  justify-content: flex-end;
}
@media (max-width: 575px) {
  .img-box {
    display: block;
    width: 120px;
  }
}

.img-box img {
  max-width: 100%;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}
